{% extends "layout.html" %}

{% block content %}
        <link rel="stylesheet" href="/static/css/estilo.css">
	</head>
		<ul class="menu">
            <li><a href="menuEditorialGenero">Regresar Menu Editorial</a></li>
            <li><a href="/">Cerrar sesion</a></li>
            
		</ul>
<table class="table">
    <thead>
      <tr>
        <th>id editorial</th>
        <th>Nombre de la editorial</th>             
      </tr>
    </thead>
    <tbody>
      {% for editorial in consulta %}
        <tr>
          <td>{{editorial.id_editorial}}</td>
          <th>{{editorial.nombre_editorial}}</th>


          <td><a class="button is-warning" href="/editar_editorial/{{editorial.id_editorial}}"><i class="fas fa-pencil-alt"></i></a></td>
          <td><a class="button is-danger" href="/eliminar_editorial/{{editorial.id_editorial}}"><i class="fas fa-trash"></i></a></td>
      
          
        </tr>
      {% endfor %}
      </tbody>
    
  </table>
{% endblock %}