{% extends "layout.html" %}

{% block content %}
        <link rel="stylesheet" href="/static/css/estilo.css">
	</head>
		<ul class="menu">
            <li><a href="menuEditorialGenero">Regresar Menu Editorial</a></li>
            <li><a href="/">Cerrar sesion</a></li>
            
		</ul>
<table class="table">
    <thead>
      <tr>
        <th>Id genero </th>
        <th>Nombre de genero</th>             
      </tr>
    </thead>
    <tbody>
      {% for genero in consulta %}
        <tr>
          <td>{{genero.id_genero}}</td>
          <th>{{genero.nombre_genero}}</th>
          <td><a class="button is-warning" href="/editar_genero/{{genero.id_genero}}"><i class="fas fa-pencil-alt"></i></a></td>
          <td><a class="button is-danger" href="/eliminar_genero/{{genero.id_genero}}"><i class="fas fa-trash"></i></a></td>
      
          
        </tr>
      {% endfor %}
      </tbody>
    
  </table>
{% endblock %}